body {
    font-family: 'Roboto Slab', serif;
}
.first-container {
    max-width: 992px;
    width:100%;
    margin: 0 auto;
    margin-top: 53px;
}
#articles, h1 {
    text-align: center;
    list-style-type: none;
    
}
#articles{
    padding-left: 0px;
}
#articles li {
    border: 1px solid grey;
    font-size: 24px;
    max-width: 600px;
    width: 100%;
    margin:0 auto;
    margin-bottom: 10px;
}
#articles li {
    cursor: pointer;
}
#articles li:hover {
    border: 5px dashed grey;
}
.navbar{
    margin-bottom: 0px;
}
header {
    background-color: #080808!important;
    color: #333;
    
}
.nav-li li a{
    color: #9d9d9d!important;
    line-height: 30px;
}
img{
    width: 400px;
    height: 400px;
}
.first-container form{
    margin-top: 73px;
}

.article-page{
    text-align: center;
}
article{
    width: 500px;
    margin: 0 auto;
}
.user-comment{
    border:1px solid grey;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.add-comment-box {
    width: 500px;
    margin: 0 auto;
}